<div class="table-container">
    <table mat-table [dataSource]="products" class="full-width-table mat-elevation-z8">
        <!-- checked Column -->
        <ng-container matColumnDef="checked">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let product">
                <section>
                    <mat-checkbox [checked]="product.checked" (change)="checkProduct($event.checked, product)">
                    </mat-checkbox>
                </section>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Products</th>
            <td mat-cell *matCellDef="let product"> {{product.productName | titlecase}} </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let product">
                {{product.quantity}}
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let product">
                <button mat-icon-button (click)="incrementQuantity(product)" color="primary">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
                <button mat-icon-button (click)="decrementQuantity(product)" color="primary"
                    [disabled]=!decrementAllowed(product)>
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteProduct(product)" color="primary">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" hidden></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-checked': row.checked }"></tr>

    </table>
</div>