/* This works to overflow only the list */
.table-container {
    height: 80%;
    max-width: 100%;
    overflow: auto;
}

.full-width-table {
    margin-top: 10px;
    width: 100%;   
    table-layout: fixed;
}

.mat-column-checked {
    width: 10%;  
}

.mat-column-name {
    width: 40%;  
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.mat-column-quantity {
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;    

}

.mat-column-action {
    width: 40%;    
}

.make-checked {
    background-color: whitesmoke;
}